
# vscode settings
.vscode/*
*.vsix

python/*

# remove latex clutter
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.pdf
*.zip
*.pyc
!OpenCV IDP Final Report and Failure Analysis.pdf
!IDP Group M213 Final Software Docs.pdf