image: ubuntu:18.04
 
before_script:
  - bash ./setup-build-env.sh

stages:
  - build
 
compile:
  stage: build
  tags:
    - docker
  script:
    - arduino-cli compile --fqbn arduino:avr:uno -o ignored.bin main.ino